* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    align-items: center;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    justify-items: center;
    margin: 0;
    min-height: 100%;
}

.header {
    background-color: aqua;
    margin-bottom: 64px;
    padding: 24px;
    text-align: center;
    width: 100%;
}

.header__page-title {
    color: pink;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game-container {
    text-align: center;
}

.word {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.letter {
    border-bottom: 3px solid #000;
    display: inline-block;
    font-size: 2rem;
    margin: 0 5px;
    width: 30px;
    text-align: center;
}

.figure-part {
    display: none;
}

.popup {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 400px; 
    text-align: center;
    flex-direction: column;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.popup h2 {
    text-align: center;
    color: pink;
    font-size: 3rem;
    margin-bottom: 20px;
    padding: 24px;
}

.play-button,
.quit-button {
    background-color: #a5a0a0;
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.play-button:hover {
    background-color: #0fb300;
}

.quit-button:hover {
    background-color: red;
}

.notification-container {
    position: absolute;
    bottom: 30px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.wrong-letters-container {
    margin-top: 20px;
}

.wrong-letters-container p,
#wrong-letters {
    display: inline-block;
    margin: 0 5px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.key {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    width: 40px;
    text-align: center;
}

.key.disabled {
    background-color: grey;
    cursor: not-allowed;
    margin: 0 5px;
}